# Rails configuration variables
SECRET_KEY_BASE=
RACK_ENV=development
RAILS_ENV=development

# Elastic search URL
ELASTICSEARCH_URL=http://localhost:9200

# Rollbar API token (https://rollbar.com)
ROLLBAR_ACCESS_TOKEN=
