<% set_meta_tags title: 'Preguntas frecuentes' %>

<div class="pre_home">

  <div class="about_block faqs" >

    <h1>Preguntas Frecuentes</h1>

    <h2>Cuenta de usuario y datos personales</h2>

    <h3>Mis opiniones: ¿son privadas?</h3>

    <p>Sí. Sólo guardamos opiniones sobre presupuestos o partidas de forma anónima y agregada con fines estadísticos. Y al opinar sobre una partida (levanta la mano!), podrás ver el resultado estadístico agregado de todos los que han opinado, pero en ningún caso se podrá saber qué opinaste tú en particular de una partida u otra.</p>

    <p>Sin embargo, si deseas compartir públicamente tus opiniones o links a una partida u otra, te ponemos fácil que lo hagas en Twitter o Facebook con el botón "Comparte" que encontrarás en la parte superior de de la página o al opinar sobre una partida.


    <h3>Mis datos: ¿son privados?</h3>
    <p>Sí. Si nos dejas tu email, lo usaremos para mantenerte informado sobre tu municipio o, en caso de que tengas preguntas para tu ayuntamiento, para que nos pongamos en contacto contigo en caso de que recibamos respuestas.</p>

    <h3>Si os dejo mi email, ¿qué otra información voy a recibir?</h3>

    <p>Sólo información interesante, claro! ;-) Si nos dices qué municipio te interesa, te podremos enviar un email si se publican nuevos datos relativos a ese municipio, como por ejemplo:</p>

    <ul>
      <li>- Cuando se publiquen los nuevos presupuestos anuales</li>
      <li>- Cuando se publiquen los datos de ejecución del presupuesto, donde podrás ver cómo se ha gastado el dinero y si coincide con lo que se presupuestó</li>
      <li>- Si alguien de tu municipio contesta a preguntas o hace aclaraciones</li>
      <li>- Cuando publiquemos mejoras que te permitan estudiar mejor o de otra forma la información de tu municipio</li>
    </ul>


    <h3>¿Y si me quiero dar de baja?</h3>

    <p>Podrás hacerlo cuando quieras. En todos los emails que te enviamos incluímos un link para que te des de baja si ya no quieres recibir más información</p>


    <h2>Entender un presupuesto municipal</h2>

    <h3>¿Cuál es la estructura de un presupuesto municipal?</h3>

    <p>A continuación algunas referencias de introducción para entender un presupuesto municipal:</p>

    <ul>
      <li><%= link_to 'Entendiendo un presupuesto municipal (PDF, 219KB)', 'http://www.ocmcartagena.org/files/archive/Entendiendo-un-presupuesto-municipal.pdf' %>, del Grupo Auditoría Ciudadana de la Deuda de Badalona</li>
      <li><%= link_to 'Guía de introducción a los presupuestos municipales (Google Drive)', 'https://docs.google.com/presentation/d/1oysDrJvlFxP0sKlzBalxvrV3lzSE5OCSKY7qd5yYpcA/pub?start=false&loop=false&delayms=3000&slide=id.p' %>, del Foro Social de Campo de Criptana</li>
    </ul>


    <h2>Sobre los datos en Gobierto Presupuestos Municipales</h2>

    <h3 id="no_data">¿Por qué no hay datos para un municipio y/o año determinado?</h3>

    <p>Los datos de Gobierto Presupuestos Municipales están extraídos en primer lugar de la base de datos del Ministerio de Hacienda (tal como explicamos en el apartado de <%= link_to 'Metodología y Fuentes', gobierto_budgets_about_path(anchor: 'method') %>). Los Municipios son responsables de notificar al Ministerio los datos de presupuestos y ejecución. Si no mostramos datos para un municipio  y año concretos es que esos datos no se encuentran en la base de datos. </p>

    <p>Además de los datos extraídos de la base de datos del Ministerio, cada Municipio puede proporcionar datos actualizado para incluir en Gobierto. Si eres responsable de un Municipio y quieres actualizar o incluir más datos, o eres un ciudadano con acceso a estos datos y quieres completarlos, <%= link_to 'ponte en contacto con nosotros', gobierto_budgets_about_path(anchor: 'contact') %>.</p>

    <h3>¿Por qué en algunos municipios los datos de un año son iguales que los del anterior?</h3>

    <p>Si el presupuesto de un municipio no se aprueba antes del comienzo del ejercicio correspondiente, el presupuesto del ejercicio anterior queda automaticamente prorrogado (es decir, se repite). Por esta razón para algunos municipios y años el presupuesto aparece "repetido" de un año a otro.</p>

    <h2>¿Echas algo en falta?</h2>

    <p>Esta lista de preguntas y respuestas acaba de empezar. Envíanos tus preguntas a info@gobierto.es e iremos incluyendo las respuestas.</p>

  </div>
</div>
