<table class="">
  <thead>
    <th>Entidad</th>
    <th>Ingreso</th>
    <th>Gasto</th>
    <th></th>
  </thead>
  <tbody>
    <% 5.times do %>
    <tr>
      <td>Institut Municipal de Mercats</td>
      <td>123.456.789 €</td>
      <td>123.456.789 €</td>
      <td>
        <a href="#">Explorar</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
