<table class="top-10">
  <%# TODO: Falta integración de tabla %>
  <thead>
    <th>Entidad</th>
    <th>Ingreso</th>
    <th>Gasto</th>
    <th></th>
  </thead>
  <tbody>
    <% 15.times do %>
    <tr>
      <td><a class="name" href="">Institut Municipal de Mercats</a></td>
      <td>123.456.789 €</td>
      <td>123.456.789 €</td>
      <td>
        <a href="#">Explorar</a>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <a class="js-table-rows-toggle"><%= t('gobierto_budgets.places.show.related_entities_budget.see_all', number: 123) %></a>
      </td>
    </tr>
  </tfoot>
</table>
