<div class="pre_home">
  <div class="about_block faqs" >
    <h1>Sobre los Presupuestos Municipales</h1>

    <h2>¿Qué es?</h2>
    <p>El Comparador de Presupuestos es una herramienta que la Generalitat de Catalunya pone a disposición de los ciudadanos para consultar, visualizar y analizar el presupuesto de los municipios de Cataluña de forma sencilla y accesible.</p>

    <h2>¿Qué puedes hacer?</h2>
    <p>El Comparador de Presupuestos te permite explorar el presupuesto de cada municipio, comparar el presupuesto de varios municipios, consultar el ranking por ingresos o gastos de las distintas partidas que componen el presupuesto, y visualizar toda esta información en mapas.</p>

    <h2>Presupuesto de un municipio</h2>
    <p>Una vez que has seleccionado un municipio desde la página principal, podrás consultar algunos indicadores principales (gasto por habitante, gasto total, diferencia de presupuesto sobre ejecución, habitantes y la deuda viva); ver la evolución de ese indicador en los últimos años y su comparación con la media nacional y provincial.</p>

    <p>El presupuesto municipal se compone de los ingresos que recibe un municipio y de los gastos que realiza para prestar los servicios a los ciudadanos. Desde la página de municipio podrás consultar estas partidas de ingresos y gastos, y profundizar en esta estructura de partidas.</p>

    <p>En el caso de los gastos hay dos clasificaciones: clasificación “económica” (paraen qué se gasta: personal, servicios, inversiones…) y clasificación “funcional” (enpara qué se gasta: seguridad, recogida de residuos, medio ambiente, etc). La herramienta permite consultar ambas.</p>

    <p>Una vez que se accede a una partida, se pueden consultar los indicadores principales sobre la misma, ver su evolución temporal, consultar las subpartidas y acceder al ranking.</p>

    <h2>Compara</h2>
    <p>La sección Compara permite realizar comparaciones de los presupuestos de distintos municipios para entender y analizar cómo los distintos municipios gestionan el presupuesto atendiendo a cada partida.</p>

    <p>En la tabla de comparación se pueden añadir o quitar los municipios que se desee; y se puede ir filtrando las partidas y subpartidas que se desean comparar. Para cada comparación se ofrece una visualización temporal de la partida o acumulado en cuestión, así como una tabla donde consultar la población de cada municipio, el gasto por habitante global y el de cada partida.</p>

    <h2>Ránkings</h2>
    <p>La sección de Ránkings permite profundizar en una partida específica del presupuesto para analizar la posición de los distintos municipios según el gasto total o gasto por habitante, y comprobar de un vistazo el % sobre el gasto total.</p>

    <p>La herramienta nos permite filtrar municipios de acuerdo a su tamaño, gasto, o gasto por habitante. Se podrá seleccionar cualquier partida de ingresos o gastos.</p>

    <h2>Mapas</h2>
    <p>La sección de Mapas permite visualizar sobre un mapa los distintos indicadores principales (gasto por habitante, gasto total, diferencia de ejecución y presupuesto, habitantes y deuda viva), así como visualizar cada una de las partidas. De esta forma podremos visualizar sobre el mapa la distribución de gasto para una partida específica para poder obtener información de contexto de forma rápida.</p>

    <h2>Datos</h2>
    <p>Los datos son generados y recopilados por el Consorci Administració Oberta de Catalunya (Consorci AOC) conjuntamente con cada una de las entidades municipales. Puedes consultar, analizar y descargar los datos en el portal de datos abiertos de la Generalitat de Catalunya:<br>
      <a href="https://analisi.transparenciacatalunya.cat/Pressupost/Pressupostos-ens-municipals-per-programes-detallat/4g9s-gzp6">https://analisi.transparenciacatalunya.cat/Pressupost/Pressupostos-ens-municipals-per-programes-detallat/4g9s-gzp6</a><br>
      <a href="https://analisi.transparenciacatalunya.cat/Pressupost/Liquidacions-del-pressupost-dels-ens-municipals/e7ah-kha8">https://analisi.transparenciacatalunya.cat/Pressupost/Liquidacions-del-pressupost-dels-ens-municipals/e7ah-kha8</a>
    </p>
  </div>
</div>
