<div class="pre_home">
  <div class="about_block faqs" >
    <h1>Sobre els Pressupostos Municipals</h1>
    <h2>Què és? </h2>
    <p>El Comparador de Pressupostos és una eina que la Generalitat de Catalunya posa a disposició dels ciutadans per a consultar, visualitzar i analitzar el pressupost dels municipis de Catalunya de manera senzilla i accessible.</p>

    <h2>Què podeu fer?</h2>
    <p>El Comparador de Pressupostos us permet explorar el pressupost de cada municipi, comparar el pressupost de diversos municipis, consultar el rànquing per ingressos o despeses de les diferents partides que componen el pressupost, i visualitzar tota aquesta informació en mapes.</p>

    <h2>Pressupost d'un municipi</h2>
    <p>Una vegada heu seleccionat un municipi des de la pàgina principal, podreu consultar alguns indicadors principals (despesa per habitant, despesa total, diferència de pressupost sobre execució, habitants i el deute viu), veure l'evolució d'aquest indicador en els últims anys i la comparació amb la mitjana nacional i provincial.</p>

    <p>El pressupost municipal es compon dels ingressos que rep un municipi i de les despeses que realitza per prestar els serveis als ciutadans. Des de la pàgina de municipi podreu consultar aquestes partides d'ingressos i despeses, i aprofundir en aquesta estructura de partides.</p>

    <p>En el cas de les despeses hi ha dues classificacions: classificació "econòmica" (en què es gasta: personal, serveis, inversions...) i classificació "funcional" (per a què es gasta: seguretat, recollida de residus, medi ambient, etc.). L'eina permet consultar totes dues.</p>

    <p>Una vegada s'accedeix a una partida, se’n poden consultar els indicadors principals, veure’n l‘evolució temporal, consultar les subpartides i accedir al rànquing.</p>

    <h2>Compara</h2>
    <p>La secció Compara permet realitzar comparacions dels pressupostos de diferents municipis per a entendre i analitzar com els diferents municipis gestionen el pressupost atenent a cada partida.</p>

    <p>A la taula de comparació es poden afegir o treure els municipis que es vulgui, i es poden anar filtrant les partides i subpartides que es volen comparar. Per a cada comparació s'ofereix una visualització temporal de la partida o acumulat en qüestió, així com una taula on consultar la població de cada municipi, la despesa per habitant global i el de cada partida.</p>

    <h2>Rànquings</h2>
    <p>La secció Rànquings permet aprofundir en una partida específica del pressupost per a analitzar la posició dels diferents municipis segons la despesa total o despesa per habitant, i comprovar d'un cop d'ull el tant per cent sobre la despesa total.</p>

    <p>L'eina permet filtrar municipis d'acord amb la grandària, despesa, o despesa per habitant. Es podrà seleccionar qualsevol partida d'ingressos o despeses.</p>

    <h2>Mapes</h2>
    <p>La secció Mapes permet visualitzar sobre un mapa els diferents indicadors principals (despesa per habitant, despesa total, diferència d'execució i pressupost, habitants i deute viu), així com visualitzar cadascuna de les partides. D'aquesta manera es pot visualitzar sobre el mapa la distribució de despesa per a una partida específica per poder obtenir informació de context de forma ràpida.</p>

    <h2>Dades</h2>
    <p>Les dades són generades i recopilades pel Consorci Administració Oberta de Catalunya (Consorci AOC) conjuntament amb cadascuna de les entitats municipals. Podeu consultar, analitzar i descarregar les dades al portal de dades obertes de la Generalitat de Catalunya:<br>
      <a href="https://analisi.transparenciacatalunya.cat/Pressupost/Pressupostos-ens-municipals-per-programes-detallat/4g9s-gzp6">https://analisi.transparenciacatalunya.cat/Pressupost/Pressupostos-ens-municipals-per-programes-detallat/4g9s-gzp6</a><br>
      <a href="https://analisi.transparenciacatalunya.cat/Pressupost/Liquidacions-del-pressupost-dels-ens-municipals/e7ah-kha8">https://analisi.transparenciacatalunya.cat/Pressupost/Liquidacions-del-pressupost-dels-ens-municipals/e7ah-kha8</a>
    </p>
  </div>
</div>

