<h3 class="lite"><%= t('gobierto_budgets.featured_budget_lines.show.title') %></h3>

<%= render partial: "gobierto_budgets/featured_budget_lines/featured_budget_line" %>

<%= render partial: "gobierto_budgets/budget_lines/feedback" %>

