<div class="cont clearfix">
  
  <%= flush_the_flash %>

  <h1>Edita tus datos personales</h1>
  <p class="highlight">Tus datos personales y opiniones serán siempre privados. Si quieres indícanos tu nombre para personalizar tu página ;) <%= link_to 'Más información', '/faq', target: 'blank' %></p>

  <%= render 'form' %>
</div>
