<div class="cont clearfix">
  
  <%= flush_the_flash %>
  <h1>Venga, ya casi estamos</h1>
  <p class="highlight">Confirma tus datos para poder seguir las actualizaciones de los municipios que elijas, interactuar con tus representantes públicos, y más. Tus datos y opiniones serán siempre privados.</p>

  <%= render 'form' %>
  
</div>
