<div class="fons_footer">
  <footer class="container ">
    <div class="row ">
      <div class="footer">
        <div class=" col-xs-12 visible-xs avislegal clearfix centering" >©Generalitat de Catalunya
          <ul class="idioma">
            <li><a title="Castellano" href="conqxsGeneric.do?webFormId=492&set-locale=es_ES">es</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 clearfix hidden-xs"><a href="http://www.gencat.cat"><img src="/img/NG_logo_generalitat_peu.png" alt="www.gencat.cat"></a></div>
        <div class="col-md-8  col-sm-8 hidden-xs avislegal clearfix">
          <p><strong>Avís legal:</strong> La ©Generalitat de Catalunya permet la reutilització de les dades sempre que se citi la font i la data d'actualització, que no es desnaturalitzi la informació i que no es contradigui amb una llicència específica.</p>
        </div>
        <div class="col-md-2 col-sm-2 hidden-xs segu-twit clearfix">
          <p>Segueix-nos: <a href="https://twitter.com/transpcat" target="_blank"><img src="/img/NG_ico_twitter.png" width="27" height="27"></a></p>
        </div>
      </div>
    </div>
  </footer>
</div>
