<div class="fons_footer">
  <footer class="container ">
    <div class="row ">
      <div class="footer">
        <div class=" col-xs-12 visible-xs avislegal clearfix centering" >©Generalitat de Catalunya
          <ul class="idioma">
            <li><a title="Català" href="conqxsGeneric.do?webFormId=492&set-locale=es_ES">ca</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 clearfix hidden-xs"><a href="http://www.gencat.cat"><img src="/img/NG_logo_generalitat_peu.png" alt="www.gencat.cat"></a></div>
        <div class="col-md-8  col-sm-8 hidden-xs avislegal clearfix">
          <p>Fuente de datos: Generalitat de Catalunya. <a href="https://analisi.transparenciacatalunya.cat/d/4g9s-gzp6">Presupuestos</a> · <a href="https://analisi.transparenciacatalunya.cat/d/e7ah-kha8">Liquidación</a>.</p>
          <p><strong>Aviso legal:</strong>  La ©Generalitat de Cataluña permite la reutilización de los contenidos y de los datos siempre que se cite la fuente y la fecha de actualización, que no se desnaturalice la información y que no se contradiga con una licencia específica.</p>
        </div>
        <div class="col-md-2 col-sm-2 hidden-xs segu-twit clearfix">
          <p>Síguenos: <a href="https://twitter.com/transpcat" target="_blank"><img src="/img/NG_ico_twitter.png" width="27" height="27"></a></p>
        </div>
      </div>
    </div>
  </footer>
</div>
