<div class="fons_footer">
  <footer class="container ">
    <div class="row ">
      <div class="footer">
        <div class=" col-xs-12 visible-xs avislegal clearfix centering" >©Generalitat de Catalunya
          <ul class="idioma">
            <li><a title="Castellano" href="conqxsGeneric.do?webFormId=492&set-locale=es_ES">es</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 clearfix hidden-xs"><a href="http://www.gencat.cat"><img src="/img/NG_logo_generalitat_peu.png" alt="www.gencat.cat"></a></div>
        <div class="col-md-8  col-sm-8 hidden-xs avislegal clearfix">
          <p>Font de les dades: Generalitat de Catalunya. <a href="https://analisi.transparenciacatalunya.cat/d/4g9s-gzp6">Pressupostos</a> · <a href="https://analisi.transparenciacatalunya.cat/d/e7ah-kha8">Liquidació</a>.</p>
          <p><a href="http://web.gencat.cat/ca/menu-ajuda/ajuda/avis_legal/">Avís legal:</a> D’acord amb l’article 17.1 de la Llei 19/2014, la ©Generalitat de Catalunya permet la reutilització dels continguts i de les dades sempre que se'n citi la font i la data d'actualització i que no es desnaturalitzi la informació (article 8 de la Llei 37/2007) i també que no es contradigui amb una llicència específica.</p>
        </div>
        <div class="col-md-2 col-sm-2 hidden-xs segu-twit clearfix">
          <p>Segueix-nos: <a href="https://twitter.com/transpcat" target="_blank"><img src="/img/NG_ico_twitter.png" width="27" height="27"></a></p>
        </div>
      </div>
    </div>
  </footer>
</div>
