<header class="navigation">
  <div class="navigation-headline"><a href="/">Comparador</a></div>
  <div class="navigation-list pull-right">
    <ul>
      <li class="navigation-el"><a href="/">Municipis</a></li>
      <li class="navigation-el"><a href="/compare">Compara</a></li>
      <li class="navigation-el"><a href="/ranking">Rànquings</a></li>
      <li class="navigation-el"><a href="/mapas/2016">Mapes</a></li>
    </ul>
  </div>
</header>
