<a class="opendata" href="https://analisi.transparenciacatalunya.cat/browse?category=Pressupost">
  <h1>Datos Abiertos de presupuestos</h1>
  <p>Accede al portal de datos abiertos de la Generalitat de Catalunya para descargar los datos de presupuesto y ejecución</p>
</a>
