<a class="opendata" href="https://analisi.transparenciacatalunya.cat/browse?category=Economia">
  <h1>Dades obertes de pressupostos</h1>
  <p>Accedeix al portal de dades obertes de la Generalitat de Catalunya per descarregar les dades de pressupost i execució</p>
</a>
