default: &default
  repo_url: "git@github.com:PopulateTools/gobierto-budgets-comparator.git"

staging:
  application: "gobierto-budgets-comparator-staging"
  <<: *default

production:
  application: "gobierto-budgets-comparator"
  <<: *default
