<div class="main_metrics clearfix">

  <div class="metric selected tipsit" data-graph-show="1" title="Gasto total de esta partida en este año">
    <div class="label">Gasto total</div>
    <div class="main">128,4M€</div>
    <div class="secondary">
      <div class="percentage_change up">3,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric tipsit " data-graph-show="2" title="Habitantes de acuerdo al censo ">
    <div class="label">Habitantes</div>
    <div class="main">1.234</div>
    <div class="secondary">
      <div class="percentage_change down">1,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric" data-graph-show="3">
    <div class="label">Gasto por habitante</div>
    <div class="main">1.234€</div>
    <div class="secondary">
      <div class="percentage_change down">1,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric tipsit" data-graph-show="4" title="Diferencia porcentual entre la cantidad presupuestada y la finalmente empleada">
    <div class="label">Presupuesto vs. Ejecución</div>
    <div class="main">-3,45%</div>
    <div class="secondary">
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric tipsit" data-graph-show="5" title="Compara con otros municipios">
    <div class="label">Diferencia con la media</div>
    <div class="main">-13,45%</div>
    <div class="secondary">
    </div>
  </div>
</div>
