
<div class="main_metrics clearfix">

  <div class="metric selected tipsit" data-graph-show="1" title="Gasto total de esta partida en este año">
    <div class="label">Gasto total</div>
    <div class="main">128,4M€</div>
    <div class="secondary">
      <div class="percentage_change up">3,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric tipsit " data-graph-show="2" title="Habitantes de acuerdo al censo ">
    <div class="label">Habitantes</div>
    <div class="main">1.234</div>
    <div class="secondary">
      <div class="percentage_change down">1,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric" data-graph-show="3">
    <div class="label">Gasto por habitante</div>
    <div class="main">1.234€</div>
    <div class="secondary">
      <div class="percentage_change down">1,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric tipsit" data-graph-show="4" title="Diferencia porcentual entre la cantidad presupuestada y la finalmente empleada">
    <div class="label">Presupuesto vs. Ejecución</div>
    <div class="main">-3,45%</div>
    <div class="secondary">
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric tipsit" data-graph-show="5" title="Compara con otros municipios">
    <div class="label">Diferencia con la media</div>
    <div class="main">-13,45%</div>
    <div class="secondary">
    </div>
  </div>
</div>

<div class="map_sidebar">
  <div class="sidebar_wrapper">
    <div>
      <h2 class="sidebar_title">Explora las partidas</h2>
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <form>
      <input class="search_indicator" type="search" name="indicators">
    </form>
    <ul class="sidebar_list">
      <li>Uno</li>
      <li>Dos</li>
      <li>Tres</li>
      <li>Cuatro</li>
      <li>Cinco</li>
    </ul>
  </div>
</div>

<iframe width='100%' height='760' frameborder='0' src='https://marinapresasq.carto.com/viz/8ef95532-95cd-11e5-b26a-0e787de82d45/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>