// Main map
#map {
  margin-top: 1.5em;
  height: 300px;
  width: 100%
}
.cartodb-zoom a {
  transition: none;
}

// Move zoom control buttons
.cartodb-map-wrapper .cartodb-zoom {
  float: right;
  margin: 20px 20px 0 0;
}

// Sidebar
.map_sidebar {
  margin-top: 0.5em;
  z-index: 1;
  width: 250px;
  position: absolute;
  background: #fff;
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);
  // background: rgba(255, 255, 255, 0.8);
  // border-radius: 4px;
}
.sidebar_wrapper {
  margin: 1em;
}
.sidebar_title {
  font-size: 1.2em;
  color: #767168;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.5em;
  display: inline-block;
}
.icon_sidebar:before {
  cursor: pointer;
  color: #767168;
  vertical-align: sub;
}

// Sidebar table
.map_sidebar .year_switcher {
  width: auto;
}
.map_sidebar .year_switcher ul {
  left: 14px;
  top: 5px;
}
.map_sidebar .items table th {
  border-bottom: none;
}
.map_sidebar .items table tr.child_group td .child_tb_cont {
  background: #fff;
  padding: 0;
}
.map_sidebar .items table tr.child_group td tr.child_group td .child_tb_cont {
  background: #fff;
  padding: 0 20px;
}
.map_sidebar .items table td {
  padding-top: 0;
}
.map_sidebar table tr:hover td {
  background: #fff;
}
.map_sidebar a {
  color: #00909E;
  text-decoration: none;
}
.map_sidebar a.active {
  text-decoration: underline;
}
.map_sidebar .items input.search_items {
  width: 100%;
  font-weight: 400;
}
.item_name i {
  cursor: pointer;
}


@media (min-width: 768px) {
  #map {
    height: 760px;
  }
}
