<header class="module">
  <h1><%= link_to t('layout.admin'), admin_root_path %></h1>
  <menu class="module_nav">
    <%= link_to t('layout.pages'), admin_gobierto_cms_pages_path %>
    <%= link_to t('layout.users'), admin_users_path %>
    <%= link_to t('layout.configuration'), edit_admin_site_path %>
  </menu>
</header>
