<section>
  <article class="mar_top_20">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="seccio_titol">
            <div id="breadCContainer">

              <div class="migues">
                <%= link_to t(".root"), "https://www.transparenciacatalunya.cat", title: t(".root") %>
                <span class="separa"> > </span><%= t(".local_budgets") %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
