<div class="fons_footer">
			  <footer class="container ">
				<div class="row">
				  <!--googleoff: index -->
<!--googleoff: snippet-->

	<div id="fAvisLegal">



























	<div class="footer">
        <div class=" col-xs-12 visible-xs avislegal clearfix centering"> Generalitat de Catalunya <ul class="idioma">
               <li><a title="català" class="notranslate enllacIdioma" href="https://www.transparenciacatalunya.cat/ca/analisi-dades/pressupostos-municipals/comparador/index.html?t=1668564068403">CA</a></li>
<li><a title="english" class="notranslate enllacIdioma" href="https://www.transparenciacatalunya.cat/en/analisi-dades/pressupostos-municipals/comparador/index.html?t=1668564068403">EN</a></li>
<li><a title="oc" class="notranslate enllacIdioma" href="https://www.transparenciacatalunya.cat/oc/analisi-dades/pressupostos-municipals/comparador/index.html?t=1668564068403">OC</a></li>
              </ul>
</div>

		<div class="col-md-2 col-sm-3 clearfix hidden-xs"><a href="http://www.gencat.cat" target="_blank"><img src="https://www.transparenciacatalunya.cat/web/resources/fwkResponsives/common/img/logo_generalitat_gris.png" alt="www.gencat.cat"></a></div>


        <div class="col-md-8  col-sm-6 hidden-xs avislegal clearfix">


			<p><a title="Aviso legal" href="https://web.gencat.cat/es/ajuda/avis_legal/" target="_self">Aviso legal</a>: De acuerdo con el artículo 17.1 de la Ley 19/2014, la © Generalidad de Cataluña permite la reutilización de los contenidos y de los datos siempre que se cite la fuente y la fecha de actualización y que no se desnaturalice la información (artículo 8 de la Ley 37/2007) y también que no se contradiga con una licencia específica.</p>


          <ul>

          </ul>
        </div>
        <div class="col-md-2 col-sm-3 hidden-xs segu-twit clearfix">
   			<p><a href="http://governobert.gencat.cat/ca/que-es/feder/index.html" target="_blank"><img src="https://www.transparenciacatalunya.cat/web/system/modules/cat.transparencia.wcmResponsive.template.common/resources/common/img/NG_ico_FEDER.jpg" width="180" height="27"></a></p>
		</div>
      </div>




</div>
<!--googleon: snippet -->
<!--googleon: index-->
<!-- GEOATX07-->
</div>
		  </footer>
		</div>
