<div class="fons_footer">
			  <footer class="container ">
				<div class="row">
				  <!--googleoff: index -->
<!--googleoff: snippet-->

	<div id="fAvisLegal">



























	<div class="footer">
        <div class=" col-xs-12 visible-xs avislegal clearfix centering"> Generalitat de Catalunya <ul class="idioma">
               <li><a title="castellano" class="notranslate enllacIdioma" href="https://www.transparenciacatalunya.cat/es/analisi-dades/pressupostos-municipals/comparador/index.html?t=1668564068013">ES</a></li>
<li><a title="english" class="notranslate enllacIdioma" href="https://www.transparenciacatalunya.cat/en/analisi-dades/pressupostos-municipals/comparador/index.html?t=1668564068013">EN</a></li>
<li><a title="oc" class="notranslate enllacIdioma" href="https://www.transparenciacatalunya.cat/oc/analisi-dades/pressupostos-municipals/comparador/index.html?t=1668564068013">OC</a></li>
              </ul>
</div>

		<div class="col-md-2 col-sm-3 clearfix hidden-xs"><a href="http://www.gencat.cat" target="_blank"><img src="https://www.transparenciacatalunya.cat/web/resources/fwkResponsives/common/img/logo_generalitat_gris.png" alt="www.gencat.cat"></a></div>


        <div class="col-md-8  col-sm-6 hidden-xs avislegal clearfix">


			<p><a title="Avís legal" href="https://web.gencat.cat/ca/menu-ajuda/ajuda/avis_legal/" target="_self">Avís legal</a>: D’acord amb l’article 17.1 de la Llei 19/2014, la ©Generalitat de Catalunya permet la reutilització dels continguts i de les dades sempre que se'n citi la font i la data d'actualització i que no es desnaturalitzi la informació (article 8 de la Llei 37/2007) i també que no es contradigui amb una llicència específica. - <a href="https://www.transparenciacatalunya.cat/ca/inici/accessibilitat/">Accessibilitat</a></p>


          <ul>

          </ul>
        </div>
        <div class="col-md-2 col-sm-3 hidden-xs segu-twit clearfix">
   			<p><a href="http://governobert.gencat.cat/ca/que-es/feder/index.html" target="_blank"><img src="https://www.transparenciacatalunya.cat/web/system/modules/cat.transparencia.wcmResponsive.template.common/resources/common/img/NG_ico_FEDER.jpg" width="180" height="27"></a></p>
		</div>
      </div>




</div>
<!--googleon: snippet -->
<!--googleon: index-->
<!-- GEOATX08-->
</div>
		  </footer>
		</div>
