<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "gobierto_budgets/application", media: "all" %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body data-turbolinks="false">
    <%= yield %>
  </body>

</html>
